extends layout

block content
  h1= title
  h2 Register a new loaner to the library database:
  form(action="/addpersons" method="post")
    input(type="number" name="cpr" placeholder="CPR number" required)
    input(type="number" name="currentpenalties" placeholder="Current penalty" required)
    input(type="email" name="email" placeholder="Loaner's email" required)
    input(type="text" name="loanerFname" placeholder="Author's first name" required)
    input(type="text" name="loanerLname" placeholder="Author's last name" required)
    input(type="text" name="loanerMname" placeholder="Author's middle name")
    input(type="checkbox" name="newsletter" placeholder="Receive newsletter?" required)
    input(type="password" name="password" placeholder="Loaner's password" required)
    input(type="submit" value="Go")