doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
        li 
          a(href="/") Home
        li 
          a(href="viewbooks") View Books
        li 
          a(href="addbooks") Add Books
        li 
          a(href="persons") Persons
    block content
